@model IEnumerable<NetApp.Models.Connection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecieverId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecieverId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConnectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConnectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConnectionId })
        </td>
    </tr>
}

</table>
