@model IEnumerable<NetApp.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTacts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TactDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTables)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTacts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TactDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
